@font-face {
  font-family: PressStart;
  src: url(PressStart.ttf);
}

body {
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #110000, #000000);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #110000, #000000);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #110000, #000000);

  font-family: PressStart;
}   

#menu {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 80px;
    text-align: left;
}

#applet_container {
    margin: 0 auto;
    width: 800px;
    text-align: left;
}

.button { 
    background: none; 
    display: inline-block; 
    padding: 5px 15px 6px; 
    color: #ff2222 !important; 
    font-size: 0.7em; 
    font-weight: bold; 
    line-height: 1; 
    text-decoration: none; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
    border: 1px solid #ff2222; 
    position: relative; 
    cursor: pointer; 
    overflow: visible; 
    width: auto; 
}

a.button {
    margin: 0 18px 9px 0;
}

.large {
    font-size: 1.2em; 
    border: 2px solid #ff2222; 
}

p {
    font-size: 0.8em; 
    color: #ff2222;
}

a {
    color: #ff2222;
}
